# start with an inverted gitignore
*

# project root files
!.gitignore
!.gitattributes
!README.md
!LICENSE
!main.nf
!nextflow.config
!pyproject.toml
!pixi.lock
!uv.lock
!refman.toml
!Dockerfile
!justfile
!chtc_node.sh

# bin scripts
!bin/
!bin/*.py
!bin/*.R
!bin/*.pl
!bin/*.sh
!bin/*.awk

# modules, subworkflows, and workflows
!workflows/
!workflows/*.nf
!subworkflows/
!subworkflows/*.nf
!modules/
!modules/*.nf

# pre-loaded assets
!assets/
!assets/sars2.fasta
!assets/sars2.gbk
!assets/test-accessions.txt

# examples
!examples
!examples/chtc_executable.sh

# tests
!/tests/
!/tests/README.md
!/tests/TEST_SUITE_DOCUMENTATION.md
!/tests/*test*.py
!/tests/__init__.py
!/tests/data/
!/tests/data/*.bam
!/tests/data/*.bam.bai
!/tests/data/*.sam
!/tests/data/*.cram

# github actions and CI
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/.github/workflows/*.yaml
!/.github/workflows/README.md
