params {

    // simple text file with one SRA run accession to be downloaded per line
    accession_list = null

    // the desired reference sequence in FASTA format
    ref_fasta = null

    // the desired reference sequence in Genbank format
    ref_gbk = null

	// The maximum number of NCBI downloads to perform concurrently
	max_concurrent_downloads = 3

	// number of independent processes to allow SAMRefiner to use. Note that memory footprint
	// may increase super-linearly with this value.
	sam_refiner_procs = 8

    // The number of bases to remove in a gross trim of both ends of each read
    end_trim_bases = 0

    // whether to turn off automatic cleanup of the nextflow work directory
    no_cleanup = null

	// where to place results
	results = "${launchDir}/results"

	// Which mode to use when publishing results ('copy', 'move', 'symlink', or 'hardlink')
	reporting_mode = 'copy'

}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
	enabled   = true
	overwrite = true
	file      = "${params.results}/report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled   = true
	overwrite = true
	file      = "${params.results}/workflow-visualization.png"
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = params.no_cleanup ? false : true


// PROFILE OPTIONS
profiles {

	standard {

		apptainer.enabled = false
		docker.enabled    = false
		conda.enabled     = false
	}

	docker {

		docker.enabled      = true
		singularity.enabled = false
		conda.enabled       = false

		process.container   = ""
	}

	singularity {

		singularity.enabled = true
		docker.enabled      = false
		conda.enabled       = false

		process.container   = ""
	}

	apptainer {

		apptainer.enabled = true
		docker.enabled    = false
		conda.enabled     = false

		process.container = ""
	}

	chtc_hpc {

		// container engine settings
		apptainer.enabled      = true
		apptainer.cacheDir     = "work/apptainer/"
		apptainer.cacheDir     = "work/apptainer"
		apptainer.autoMounts   = true

		// container address
		process.container      = ""

		// slurm job settings
		process.executor       = "slurm"
		process.clusterOptions = "--partition=shared"
		process.maxForks       = 10
		process.cpus           = 20
		process.memory         = 64
		process.time           = 24.h
	}

	containerless {

		apptainer.enabled = false
		docker.enabled    = false
		conda.enabled     = false
	}
}

